.button {
	$self: &;
	@extend %reset-button;
	color: #fff;
	font-family: "MR", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 240px;
	border-radius: 8px;
	background-color: #0E313A;
	min-height: 56px;
	padding: 8px;
	font-size: 16px;
	
	&_suggest {
		background-color: #148595;
	}
	
	&_join {
		background-color: #105862;
		
		&::before {
			display: block;
			flex-shrink: 0;
			content: '';
			height: 24px;
			width: 24px;
			background: url('#{$images-path}icons-sprite.svg#icon-tgm-view-white') center / auto no-repeat transparent;
			margin-right: 16px;
		}
	}
}