.button {
	$self: &;
	@extend %reset-button;
	color: #fff;
	font-family: "MR", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	max-width: 240px;
	border-radius: 8px;
	background-color: #0E313A;
	// transition: text-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
	min-height: 56px;
	padding: 8px;
	font-size: 16px;

	&:hover {
		// text-shadow: 1px 1px 10px #fff, -1px -1px 10px #fff;
		// &::before { filter: drop-shadow(0 0 8px #fff); }
		box-shadow: 0 0 15px rgba(255, 255, 255, 0.25);
	}

	&_suggest {
		background-color: #148595;
	}
	
	&_join {
		background-color: #105862;
			
		&::before {
			display: block;
			flex-shrink: 0;
			content: '';
			height: 24px;
			width: 24px;
			background: url('#{$images-path}icons-sprite.svg#icon-tgm-view-white') center / auto no-repeat transparent;
			margin-right: 16px;
			// transition: filter 0.3s;
		}
	}
}