.marquee {
	$self: &;
	border-top: 2px solid #0B4B54;
	background-color: #08313C;
	color: #fff;
	padding: 19px 0;
	overflow: hidden;
	
	&__block {
		font-family: "MB", sans-serif;
		font-size: 22px;
		letter-spacing: 0.09em;
		text-align: center;
		text-transform: uppercase;
		white-space: nowrap;
		
		&:last-child {
			display: none;
		}
		
		@include media('<=xs') {
			font-size: 20px;
		}
	}
}
