<footer class="footer">
	<div class="footer__inner container">
		<h2 class="footer__title title title_white">Готовы стать частью <br> EVO Invest?</h2>
		<div class="footer__buttons">
			<a class="footer__button button button_suggest" href="./">Предложить проект</a>
			<a class="footer__button button button_join" href="./">Присоединиться</a>
		</div>
		<form class="footer__form form" action="./">
			<h3 class="form__title" id="offer">Свяжитесь с нами</h3>
			<fieldset class="form__field">
				<legend>Ваше имя <span>*</span></legend>
				<input type="text" name="name">
			</fieldset>
			<fieldset class="form__field">
				<legend>E - mail <span>*</span></legend>
				<input type="text" name="email">
			</fieldset>
			<fieldset class="form__field">
				<legend>Ваш телеграм</legend>
				<input type="text" name="email">
			</fieldset>
			<fieldset class="form__field">
				<legend>Вашe сообщение</legend>
				<textarea name="msg"></textarea>
			</fieldset>
			<button class="form__submit button button_submit" type="submit">Отправить</button>
		</form>
		<div class="footer__socials socials">
			<a class="socials__item socials__item_tgm" href="https://t.me/evo_invest_fund"></a>
			<a class="socials__item socials__item_twt" href="https://twitter.com/evoinvestfund"></a>
			<a class="socials__item socials__item_mail" href="mailto:Info@evoinvest.fund"></a>
			<a class="socials__item socials__item_git" href="https://github.com/EVO-Invest/"></a>
		</div>
		<div class="footer__bottom">
			<a class="footer__logo" href="./"><img src="./images/logo.svg" alt=""></a>
			<div class="footer__rights">&copy; Copyright 2022. All rights reserved</div>
		</div>
	</div>
</footer> 
<a class="above" href="#top"></a>
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
