<footer class="footer">
	<div class="footer__inner container">
		<h2 class="footer__title title title_white">Готовы стать частью EVO Invest?</h2>
		<div class="footer__buttons">
			<a class="footer__button button button_suggest" href="./">Предложить проект</a>
			<a class="footer__button button button_join" href="./">Присоединиться</a>
		</div>
		<form class="footer__form form" action="./">
			<h3 class="form__title">Свяжитесь с нами</h3>
			<div class="form__field">
				<input type="text" name="name">
				<span>Ваше имя <span>*</span></span>
			</div>
			<div class="form__field">
				<input type="text" name="email">
				<span>Ваш e-mail <span>*</span></span>
			</div>
			<div class="form__field">
				<input type="text" name="email">
				<span>Ваш телеграм</span>
			</div>
			<div class="form__field">
				<textarea name="msg"></textarea>
				<span>Вашe сообщение</span>
			</div>
			<button class="form__submit button" type="submit">Отправить</button>
		</form>
		<div class="footer__socials socials">
			<a class="socials__item socials__item_tgm" href="./"></a>
			<a class="socials__item socials__item_twt" href="./"></a>
			<a class="socials__item socials__item_mail" href="./"></a>
		</div>
		<div class="footer__bottom">
			<a class="footer__logo" href="./"><img src="./images/logo.svg" alt=""></a>
			<div class="footer__rights">&copy; Copyright 2022. All rights reserved</div>
		</div>
	</div>
</footer> 
<script type="text/javascript" charset="utf-8" src="jquery.min.js"></script>
<script src="common.js"></script> 
</body> 
</html> 
