<header class="header">
	<div class="header__inner container">
		<div class="header__top">
			<a class="header__logo" href="./"><img src="./images/logo.svg" alt=""></a>
			<nav class="header__navi navi navi-js">
				<div class="navi__menu">
					<a class="navi__menu-link" href="./">Что мы предлагаем</a>
					<a class="navi__menu-link" href="./">Наши ценности</a>
					<a class="navi__menu-link" href="./">Портфолио</a>
					<a class="navi__menu-link" href="./">Предложить проект</a>
				</div>
				<a class="navi__login" href="./">Войти</a>
				<div class="navi__lang">
					<span>Russian</span>
					<div class="navi__lang-links">
						<a class="navi__lang-link" href="./">Russian</a>
						<a class="navi__lang-link" href="./">English</a>
					</div>
				</div>
			</nav>
			<button class="header__navi-toggle navi__toggle"></button>
		</div>
		<div class="header__bottom">
			<div class="header__side">
				<h1 class="header__title">EVO Invest – <br>a DAO VC Club</h1>
				<div class="header__text">Сообщество образованных<br> крипто-инвесторов</div>
				<div class="header__points">
					<span class="header__points-text">Образование</span>
					<span class="header__points-bull">&bull;</span>
					<span class="header__points-text">Видение</span>
					<span class="header__points-bull">&bull;</span>
					<span class="header__points-text">Возможности</span>
				</div>
				<div class="header__buttons">
					<a class="header__button button button_suggest" href="./">Предложить проект</a>
					<a class="header__button button button_join" href="./">Присоединиться</a>
				</div>
			</div>
			<div class="header__whale">
				<img src="./images/header-whale.png" alt="">
			</div>
		</div>
	</div>
</header> 
