.title {
	$self: &;
	font-family: "MB", sans-serif;
	font-size: 46px;
	text-align: center;
	color: #000;
	
	@include media('<=md') {
		font-size: 40px;
	}
	
	@include media('<=sm') {
		font-size: 38px;
	}
	
	&_white {
		color: #fff;
	}
}
