.socials {
	$self: &;
	display: flex;
	justify-content: space-between;

	&__item {
		width: 24px;
		height: 24px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
		opacity: 0.9;

		&_tgm {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-tgm-view-white');
		}
		
		&_twt {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-twt-view-white');
		}
		
		&_mail {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-mail-view-white');
		}
		
		&_git {
			background-image: url('#{$images-path}icons-sprite.svg#icon-soc-git-view-white');
		}
	}
}
