.footer {
	$self: &;
	background: url('#{$images-path}footer-bg.png') top center / cover no-repeat transparent;
	padding-top: 90px;

	&__inner {

	}

	&__title {
		margin-bottom: 45px;
	}

	&__buttons {
		display: flex;
		justify-content: center;
		margin-bottom: 43px;
	}

	&__button {
		margin: 0 12px;
	}

	&__form {
		margin: 0 auto 80px;
		max-width: 447px;
	}

	&__socials {
		max-width: 170px;
		margin: 0 auto 40px;
	}

	&__bottom {
		display: flex;
		align-items: center;
		max-width: 510px;
		margin: 0 auto 40px;
	}

	&__logo {
		max-width: 112px;
		margin-right: 32px;
	}

	&__rights {
		color: #fff;
		font-size: 20px;
	}
}
