.suppose {
	$self: &;
	overflow: hidden;
	margin-bottom: 150px;
	
	@include media('<=lg') {
		margin-bottom: 115px;
	}

	&__inner {
		padding-top: 90px;
		padding-bottom: 32px;
		box-sizing: border-box;
		position: relative;
		
		@include media('<=lg') {
			padding-top: 85px;
		}
	}

	&__flyer {
		position: absolute;

		&_1 {
			width: 196px;
			height: 272px;
			background: url('#{$images-path}svg-sprite.svg#shape-1-view') center / auto no-repeat transparent;
			top: 150px;
			left: 24px;
			
			@include media('<=lg') {
				top: 145px;
				left: 0;
			}
		}
		
		&_2 {
			width: 209px;
			height: 226px;
			background: url('#{$images-path}svg-sprite.svg#shape-2-view') center / auto no-repeat transparent;
			top: 150px;
			right: 24px;
			
			@include media('<=lg') {
				top: 165px;
				right: 0;
			}
		}

		&_3 {
			width: 217px;
			height: 250px;
			background: url('#{$images-path}svg-sprite.svg#shape-3-view') center / auto no-repeat transparent;
			bottom: 0;
			left: 24px;
			
			@include media('<=lg') {
				left: 0;
			}
		}

		&_4 {
			width: 254px;
			height: 199px;
			background: url('#{$images-path}svg-sprite.svg#shape-4-view') center / auto no-repeat transparent;
			bottom: 0;
			right: 24px;
			
			@include media('<=lg') {
				right: 0;
			}
		}
	}

	&__title {
		margin-bottom: 88px;
		
		@include media('<=lg') {
			margin-bottom: 85px;
		}
	}

	&__items {
		display: flex;
		flex-flow: row wrap;
		padding: 0 48px;
		margin: 0 -24px;
		
		@include media('<=lg') {
			padding: 0;
		}
		
		@include media('<=md') {
			margin: 0 -16px;
		}
	}

	&__item {
		box-sizing: border-box;
		margin: 0 24px 48px;
		width: calc(100% / 2 - 48px);
		padding: 48px 56px 56px;
		box-shadow: 0px 0px 17px rgba(23, 137, 153, 0.14);
		background: rgba(208, 240, 244, 0.1);
		backdrop-filter: blur(60px);
		border-radius: 24px;
		
		@include media('<=lg') {
			min-height: 285px;
		}
		
		@include media('<=md') {
			margin: 0 16px 32px;
			width: calc(100% / 2 - 32px);
		}
		
		@include media('<=sm') {
			padding: 40px;
		}
	}

	&__subtitle {
		margin-bottom: 20px;
		font-family: "MM", sans-serif;
		font-size: 28px;
		
		@include media('<=sm') {
			font-size: 24px;
		}
	}

	&__text {
		line-height: 1.6;
	}
}