.navi {
	$self: &;
	display: flex;
	align-items: center;
	position: relative;
			
	@keyframes navi_fade {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}

	@include media('<=sm') {
		display: none;
		background-color: #fff;
		flex-flow: column nowrap;
		align-items: stretch;
		padding: 18px 32px;
		border-radius: 16px;
		position: absolute;
		z-index: 2;
		top: calc(100% - 8px);
		right: 0;
	}

	a { transition: color 0.4s ease; }
	
	&.opened {
		
		@include media('<=lg') {

			#{$self}__side {
				animation: navi_fade 0.5s ease;
				display: block;
			}
		}
		
		@include media('<=sm') {
			animation: navi_fade 0.5s ease;
			display: flex;

			#{$self}__side {
				animation: none;
			}
		}
	}

	
	&__menu {
		display: flex;
		
		@include media('<=sm') {
			display: block;
		}
	}

	&__side {
		display: flex;
		margin-left: auto;
		height: 100%;
		
		@include media('<=lg') {
			display: none;
			height: auto;
			background-color: #fff;
			padding: 18px 32px;
			border-radius: 16px;
			position: absolute;
			top: 100%;
			right: -45px;
			z-index: 1;
			margin: 0;
		}
		
		@include media('<=sm') {
			background: transparent;
			border-radius: 0;
			position: static;
			display: block;
			padding: 0;
			order: -1;
			border-bottom: 1px solid #ececec;
			margin: 0 0 20px;
			padding-bottom: 20px;
		}
	}

	&__menu-link {
		text-decoration: none;
		font-family: "ML", sans-serif;
		color: #fff;
		margin: 0 13px;
		white-space: nowrap;
		
		@include media('<=md') {
			margin: 0 8px;
			font-size: 15px;
		}
		
		@include media('<=sm') {
			display: block;
			font-family: "MR", sans-serif;
			font-size: 18px;
			color: #000;
			margin: 0;
			padding: 11px 0;

			&:hover {
				color: #1585A6;
			}
		}
	}
	
	&__login {
		text-decoration: none;
		font-family: "ML", sans-serif;
		display: flex;
		align-items: center;
		
		&::before {
			display: block;
			content: '';
			width: 24px;
			height: 24px;
			background: url('#{$images-path}icons-sprite.svg#icon-person-view-white') center / auto no-repeat transparent;
			margin-right: 10px;
		}

		@include media('>lg') {
			color: #fff;
			margin-right: 24px;
		}
		
		@include media('<=lg') {
			font-family: "MR", sans-serif;
			font-size: 18px;
			padding: 13px 0;
			color: #000;
			
			&::before {
				background-image: url('#{$images-path}icons-sprite.svg#icon-person-view-marine');
				filter: grayscale(100%);
				transition: filter 0.4s ease;
			}
			
			&:hover {
				color: #196FBE;
				&::before { filter: grayscale(0%); }
			}
		}
			
		@include media('<=sm') {
			padding: 11px 0;
		}
	}
	
	&__lang {
		font-family: "ML", sans-serif;
		color: #fff;

		@include media('>lg') {
			height: 100%;
			display: flex;
			align-items: center;
			cursor: pointer;
			position: relative;

			&::after {
				display: block;
				content: '';
				width: 14px;
				height: 8px;
				background: url('#{$images-path}icons-sprite.svg#icon-arr-down-view-white') center / auto no-repeat transparent;
				margin-left: 10px;
				transition: transform 0.3s ease;
			}

			&:hover {
				&::after {
					transform: rotate(180deg);
				}

				#{$self}__lang-links {
					display: block;
				}
			}
		}

		@include media('<=lg') {
			span {
				display: none;
			}
		}
	}
	
	&__lang-links {
		box-sizing: border-box;
		font-family: "ML", sans-serif;
		text-decoration: none;

		@include media('>lg') {
			display: none;
			background-color: #fff;
			border-radius: 16px;
			padding: 20px 32px;
			position: absolute;
			top: calc(100% - 10px);
			right: 0;
			z-index: 1;
			animation: navi_fade 0.5s ease;
		}
	}

	&__lang-link {
		display: block;
		font-family: "MR", sans-serif;
		text-decoration: none;
		color: #000;
		font-size: 18px;
		padding: 13px 0;
		
		&:hover {
			color: #1585A6;
		}
		
		@include media('<=sm') {
			padding: 11px 0;
		}
	}

	&__toggle {
		@extend %reset-button;
		flex-shrink: 0;
		min-height: 24px;
		width: 24px;
		background: url('#{$images-path}icons-sprite.svg#icon-menu-view-white') center / 20px 18px no-repeat transparent;
	}
}