@import "lib/additional.scss"; 
@include reset();

// * div { @include outline(); }

// Include breakpoints badge
body { @include screen-media(); }

// Import media-query helper
@import "../../node_modules/include-media/dist/_include-media.scss";

$breakpoints: (
	'xxxs': 360px,
	'xxs': 480px,
	'xs': 640px,
	'sm': 780px,
	'md': 960px,
	'lg': 1100px,
	'xlg': 1280px,
	'xxlg': 1440px,
	'xxxlg': 1680px,
	'xxxxlg': 1920px
);

// Import animate-scss
// @import
	// "../../node_modules/animate-scss/_properties.scss",
	// "../../node_modules/animate-scss/_attention-seekers/attention-seekers.scss",
	// "../../node_modules/animate-scss/_bouncing-entrances/bouncing-entrances.scss",
	// "../../node_modules/animate-scss/_bouncing-exits/bouncing-exits.scss",
	// "../../node_modules/animate-scss/_fading-entrances/fading-entrances.scss",
	// "../../node_modules/animate-scss/_fading-exits/fading-exits.scss",
	// "../../node_modules/animate-scss/_flippers/flippers.scss",
	// "../../node_modules/animate-scss/_lightspeed/lightspeed.scss",
	// "../../node_modules/animate-scss/_rotating-entrances/rotating-entrances.scss",
	// "../../node_modules/animate-scss/_rotating-exits/rotating-exits.scss",
	// "../../node_modules/animate-scss/_sliding-entrances/sliding-entrances.scss",
	// "../../node_modules/animate-scss/_sliding-exits/sliding-exits.scss",
	// "../../node_modules/animate-scss/_specials/specials.scss",
	// "../../node_modules/animate-scss/_zooming-exits/zooming-exits.scss",
	// "../../node_modules/animate-scss/_zooming-entrances/zooming-entrances.scss";


	@include font-face("Montserrat-Thin", "MT");
	@include font-face("Montserrat-ExtraLight", "MEL");
	@include font-face("Montserrat-Light", "ML");
	@include font-face("Montserrat-Regular", "MR");
	@include font-face("Montserrat-Medium", "MM");
	@include font-face("Montserrat-SemiBold", "MSB");
	@include font-face("Montserrat-Bold", "MB");
	@include font-face("Montserrat-ExtraBold", "MEB");
	@include font-face("Montserrat-Black", "MBL");
	
// @import "../../node_modules/swiper/swiper";

// Import BEM blocks scss
@import "../blocks/**/*.scss";

body, html {
	box-sizing: border-box;
	font-size: #{$basesize}px;
	line-height: 1.2;
	font-family: "ML", sans-serif;
	background-color: #fafafa;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
}
// .main { flex: 1 0 auto; }
.footer { 
	flex: 0 0 auto; 
	margin-top: auto; 
}


p { margin-bottom: 10px; }
strong { font-weight: bold; }
em { font-style: italic; }