.header {
	$self: &;
	background: url('#{$images-path}header-bg.png') top center / cover no-repeat transparent;
	overflow: hidden;

	&__inner {
		padding-top: 17px;
		
		@include media('<=lg') {
			padding-top: 22px;
		}
	}

	&__top {
		display: flex;
		justify-content: space-between;
		height: 60px;
		margin-bottom: 60px;
		
		@include media('<=lg') {
			margin-bottom: 70px;
		}
	}
	
	&__logo {
		margin-right: 20px;
		min-width: 135px;
	}

	&__navi {
		width: 100%;
		max-width: 908px;

		@include media('<=lg') {
			width: auto;
			max-width: none;
			margin: 0 auto;
		}
	}

	&__navi-toggle {
		display: none;
		margin-left: 20px;

		@include media('<=lg') {
			display: block;
		}
	}

	&__bottom {
		display: flex;
		padding-bottom: 22px;
		
		@include media('<=lg') {
			padding-bottom: 58px;
		}
	}

	&__side {
		padding-top: 15px;
		width: 100%;
		max-width: 600px;
	}

	&__title {
		font-family: "MSB", sans-serif;
		font-size: 46px;
		color: #fff;
		margin-bottom: 24px;
	}
	
	&__text {
		font-family: "MSB", sans-serif;
		font-size: 22px;
		line-height: 1.4;
		color: #fff;
		margin-bottom: 40px;
	}
	
	&__points {
		font-family: "ML", sans-serif;
		font-size: 18px;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 40px;
		max-width: 447px;
	}
	
	&__points-text {

	}
	
	&__points-bull {
		font-size: 28px;
		line-height: 0.4;
		margin: 0 10px;
	}

	&__buttons {
		display: flex;

		*:first-child {
			margin-right: 24px;
		}
	}

	&__button {

	}

	&__whale {
		opacity: 0.8;
		transition: opacity 1.0s ease, transform 1.0s ease;

		img {
			max-width: 490px;
			
			@include media('<=lg') {
				max-width: 440px;
			}
		}

		&:hover {
			opacity: 1;
			transform: scale(1.04);
		}
			
		@include media('<=lg') {
			margin-right: -60px;
		}
	}
}
